*,
*:before,
*:after {
  box-sizing: inherit;
}

.uClearfix:before,
.uClearfix:after {
  content: " ";
  display: table;
}

.uClearfix:after {
  clear: both;
}

.subtle {
  color: #aaa;
}

.cardContainer {
  margin: 25px auto 0;
  position: relative;
  width: 100%;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.cardBody {
  display: inline-block;
  font-size: clamp(6px, 2.5vw, 14px);
  width: 310px;
}

.cardNumber {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  color: black;
}

.cardCircle {
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.cardAuthor {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.cardTitle {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.cardDescription {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.cardRead {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 60px 0 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardTag {
  float: right;
  margin: 5px 0 0;
}

.cardMedia {
  float: right;
  width: 300px;
  height: 400px;
}

.cardShadow {
  background-color: #fff;
  box-shadow:
    0 2px 25px 2px rgba(0, 0, 0, 1),
    0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}
.container {
  margin-top: 50px;
  width: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1550px) {
  .cardBody {
    width: 250px;
    font-size: 12px;
  }
  .cardTitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
  }
  .cardMedia {
    float: right;
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 1260px) {
  .cardNumber {
    margin-top: 0;
  }
  .cardBody {
    width: 250px;
    font-size: 10px;
  }
  .cardTitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
  }
  .cardMedia {
    float: right;
    width: 150px;
    height: 200px;
  }
  .cardDescription {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }
}

@media (max-width: 1140px) {
  .cardNumber {
    margin-top: 0;
  }
  .cardBody {
    width: 170px;
    font-size: 10px;
  }
  .cardTitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
  }
  .cardMedia {
    float: right;
    width: 150px;
    height: 200px;
  }
  .cardDescription {
    display: inline-block;
    font-size: 0.9vw;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }
}
@media (max-width: 980px) {
  .cardNumber {
    margin-top: 0;
  }
  .cardBody {
    width: 100%;
    font-size: 10px;
  }
  .cardTitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
  }
  .cardMedia {
    display: none;
    width: 120px;
    height: 170px;
  }
  .cardDescription {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }
}

@media (max-width: 428px) {
  .cardContainer {
    margin: 25px auto 0;
    position: relative;
    width: 75%;
  }

  .cardNumber {
    margin-top: 0;
  }
  .cardBody {
    width: 100%;
    font-size: 10px;
  }
  .cardTitle {
    font-family: "Cormorant Garamond", serif;
    font-size: 7.5vw;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
  }
  .cardMedia {
    display: none;
    width: 120px;
    height: 170px;
  }
  .cardDescription {
    display: inline-block;
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
