.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  padding: 5rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.list {
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 30px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.seeMoreButton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.seeMoreButton:hover {
  background-color: #f3f8ff;
  transform: translateY(-2px);
}

.arrow {
  font-size: 18px;
  margin-top: 5px;
  display: block;
  line-height: 1;
}

@media (max-width: 526px) {
  .gridContainer {
    grid-template-columns: 1fr;
    padding: 1rem;
    column-gap: 20px;
  }

  .list {
    padding: 0.5rem;
  }
}
